
{{ nameErrorMessage | json }}
{{ starsErrorMessage | json }}
{{ reviewErrorMessage | json }}
<button class='btn' (click)='cancelCreate()'>Home</button>
<h1>Add A Review For {{movie.title}}</h1>
<div *ngIf="movie">
<form (submit)='addReviewSubmit()'>
  <p>Your Name: <input type="text" name="movie.name"[(ngModel)]="movie.name"></p>
  <p>Stars: <input type="number" name="movie.stars"[(ngModel)]="movie.stars"></p>
  <p>Your Review: <input type="text" name="movie.review"[(ngModel)]="movie.review"></p>
  <input type="submit" value="Submit">
</form>
<button class='btn' (click)='cancelCreate()'>Cancel</button>
</div>